<!DOCTYPE html>
{% extends "base.html" %}

{% block title %} Test App {% endblock %}

{% block content %}
<div class="row">
  <form enctype="multipart/form-data" method="POST" action="" data-ajax="false">
      {% csrf_token %}
      <input type = "text" placeholder = "Search..." name = "search" />
      <input type="submit" class = "btn btn-default" id="submit-btn" value="Go!"/>
  </form>
</div>
<div class ="row">
  <div class="col-lg-6">
    {% if positive_articles %}
      {% for article in positive_articles %}

      {% endfor %}
    {% else %}
      <h3>There are no positive articles. Search again!</h3>
    {% endif %}
  </div>
  <div class="col-lg-6">
    {% if negative_articles %}
      {% for article in negative_articles %}

      {% endfor %}
    {% else %}
      <h3>There are no negative Articles. Search Again!<h3>
    {% endif %}

  </div>
</div>


{% endblock content %}
