<!DOCTYPE html>
{% extends "base.html" %}

{% block title %} Test App {% endblock %}

{% block content %}
<div class="row">
  <form enctype="multipart/form-data" method="POST" action="" data-ajax="false">
      {% csrf_token %}
      <center>
        <input type = "text" placeholder = "Search..." name = "search" />
        <input type="submit" class = "btn btn-default" id="submit-btn" value="Go!"/>
      </center>
  </form>
</div>
<div class ="row">
  <div class="col-lg-6">
    <h3> Positive Spun Articles </h3>
    {% if positive_articles %}
      <ul>
      {% for article in positive_articles %}
        <li><a href= "{{ article.url }}"><b>Title:</b> {{article.title}}
          {%if article.author %}
            by {{article.author}}
          {% endif %}
        </a><li>
      {% endfor %}
      </ul>
    {% else %}
      <h5>There are no positive articles. Search again!</h5>
    {% endif %}
  </div>
  <div class="col-lg-6">

    <h3> Negative Spun Articles </h3>
    {% if negative_articles %}
    <ul>
    {% for article in negative_articles %}
    <li><a href= "{{ article.url }}"><b>Title:</b> {{article.title}}
      {%if article.author %}
        by {{article.author}}
      {% endif %}
    </a><li>
    {% endfor %}
    </ul>
    {% else %}
      <h5>There are no negative Articles. Search Again!<h5>
    {% endif %}

  </div>
</div>


{% endblock content %}
